@model IEnumerable<Crypto.Models.CryptoModel>

@{
    ViewData["Title"] = "Currencies Chart";
}
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<section class="cryptos-blog-area section-padding-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="cryptos-prices-table">
                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">01</span>
                            <img src="~/img/bg-img/bitcoin.png" alt="" id="my-invisible">
                            <p id="my-invisible">Bitcoin <span id="my-invisible">BTC</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$12 456.78</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">02</span>
                            <img src="~/img/bg-img/ethereum.png" alt="" id="my-invisible">
                            <p id="my-invisible">Ethereum <span id="my-invisible">ETH</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$1051.98</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">03</span>
                            <img src="~/img/bg-img/bitcoin-cash.png" alt="" id="my-invisible">
                            <p id="my-invisible">Bitcoin Cash <span id="my-invisible">BCH</span></p>
                        </div>
                        <div class="price decrease" id="my-invisible">
                            <p id="my-invisible">$2256.78</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">04</span>
                            <img src="~/img/bg-img/ripple.png" alt="" id="my-invisible">
                            <p id="my-invisible">Ripple <span id="my-invisible">XRP</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$2.03</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">05</span>
                            <img src="~/img/bg-img/litecoin.png" alt="" id="my-invisible">
                            <p id="my-invisible">Litecoin <span id="my-invisible">LTC</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$321.98</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">06</span>
                            <img src="~/img/bg-img/cardano.png" alt="" id="my-invisible">
                            <p id="my-invisible">Cardano <span id="my-invisible">ADA</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$0.75</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">07</span>
                            <img src="~/img/bg-img/nem.png" alt="" id="my-invisible">
                            <p id="my-invisible">NEM <span id="my-invisible">XEM</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$0.89</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">08</span>
                            <img src="~/img/bg-img/neo.png" alt="" id="my-invisible">
                            <p id="my-invisible">NEO <span id="my-invisible">NEO</span></p>
                        </div>
                        <div class="price decrease" id="my-invisible">
                            <p id="my-invisible">$123.90</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">09</span>
                            <img src="~/img/bg-img/stellar.png" alt="" id="my-invisible">
                            <p id="my-invisible">Stellar <span id="my-invisible">XLM</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$0.67</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">10</span>
                            <img src="~/img/bg-img/iota.png" alt="" id="my-invisible">
                            <p id="my-invisible">IOTA <span id="my-invisible">IOTA</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$3.55</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <canvas id="chart" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="~/js/chart/chart.js"></script>
</section>