@model IEnumerable<Crypto.Models.CryptoModel>

@{
    ViewData["Title"] = "Currencies Chart";
}
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<section class="cryptos-blog-area section-padding-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="cryptos-prices-table">
                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center" id="my-invisible">
                            <span id="my-invisible">01</span>
                            <img src="~/img/bg-img/bitcoin.png" alt="" id="my-invisible">
                            <p id="my-invisible">Bitcoin <span id="my-invisible">BTC</span></p>
                        </div>
                        <div class="price increase" id="my-invisible">
                            <p id="my-invisible">$12 456.78</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>02</span>
                            <img src="~/img/bg-img/ethereum.png" alt="">
                            <p>Ethereum <span>ETH</span></p>
                        </div>
                        <div class="price increase">
                            <p>$1051.98</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>03</span>
                            <img src="~/img/bg-img/bitcoin-cash.png" alt="">
                            <p>Bitcoin Cash <span>BCH</span></p>
                        </div>
                        <div class="price decrease">
                            <p>$2256.78</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>04</span>
                            <img src="~/img/bg-img/ripple.png" alt="">
                            <p>Ripple <span>XRP</span></p>
                        </div>
                        <div class="price increase">
                            <p>$2.03</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>05</span>
                            <img src="~/img/bg-img/litecoin.png" alt="">
                            <p>Litecoin <span>LTC</span></p>
                        </div>
                        <div class="price increase">
                            <p>$321.98</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>06</span>
                            <img src="~/img/bg-img/cardano.png" alt="">
                            <p>Cardano <span>ADA</span></p>
                        </div>
                        <div class="price increase">
                            <p>$0.75</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>07</span>
                            <img src="~/img/bg-img/nem.png" alt="">
                            <p>NEM <span>XEM</span></p>
                        </div>
                        <div class="price increase">
                            <p>$0.89</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>08</span>
                            <img src="~/img/bg-img/neo.png" alt="">
                            <p>NEO <span>NEO</span></p>
                        </div>
                        <div class="price decrease">
                            <p>$123.90</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>09</span>
                            <img src="~/img/bg-img/stellar.png" alt="">
                            <p>Stellar <span>XLM</span></p>
                        </div>
                        <div class="price increase">
                            <p>$0.67</p>
                        </div>
                    </div>

                    <!-- Single Price Table -->
                    <div class="single-price-table d-flex align-items-center justify-content-between crypto-item">
                        <div class="p-content d-flex align-items-center">
                            <span>10</span>
                            <img src="~/img/bg-img/iota.png" alt="">
                            <p>IOTA <span>IOTA</span></p>
                        </div>
                        <div class="price increase">
                            <p>$3.55</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <canvas id="chart" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="~/js/chart/chart.js"></script>
</section>